node_modules
npm-debug.log
*.pem
config.yml
coverage
dist
.rpt2_cache/
github-app-probot-home-assistant-key.pem
.serverless
.devcontainer/credentials
.vscode
.env
lib

# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

yarn-error.log
